.lkt-page-editor {
    display: flex;
    align-items: flex-start;
    justify-content: stretch;
    gap: 15px;
    padding: 15px;
    background-color: var(--lkt-field-bg);
    border-width: var(--lkt-field-border-width);
    border-style: var(--lkt-field-border-style);
    border-color: var(--lkt-field-border-color);
    box-shadow: var(--lkt-field-shadow);
    border-radius: var(--lkt-field-border-radius);
    transition: var(--lkt-field-transition-input);
}

.lkt-editor-block  {
    display: flex;
    gap: 15px;
    width: 100%;
}

.lkt-text-editor-content {
    width: 100%;
    line-height: 1.425;
}

.lkt-page-editor .lkt-editor-toolbar.lkt-tooltip {
    background: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 5px;
    min-height: 40px;
}

.lkt-page-editor-add-menu {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.lkt-page-editor .lkt-tooltip .lkt-field{
    width: 300px;
}