.lkt-page-editor {
    display: flex;
    align-items: flex-start;
    justify-content: stretch;
    gap: 15px;
    padding: 15px;
    background-color: var(--lkt-field-bg);
    border-width: var(--lkt-field-border-width);
    border-style: var(--lkt-field-border-style);
    border-color: var(--lkt-field-border-color);
    box-shadow: var(--lkt-field-shadow);
    border-radius: var(--lkt-field-border-radius);
    transition: var(--lkt-field-transition-input);
}

.lkt-editor-block  {
    display: flex;
    /*gap: 15px;*/
    width: 100%;
    align-items: center;
    flex-direction: column;
}
.lkt-editor-block.is-li {
    flex-direction: row;
    gap: 15px;
}
.lkt-editor-block.is-li:before {
    content: '';
    display: inline-flex;
    background: #000000;
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.lkt-text-editor-content {
    width: 100%;
    line-height: 1.425;
}

.lkt-page-editor .lkt-editor-toolbar.lkt-tooltip {
    background: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 5px;
    min-height: 40px;
}

.lkt-page-editor .toolbar-actions {
    display: flex;
    gap: 10px;
    align-items: flex-end;
}

.lkt-page-editor-menu-tooltip {
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, .4);
}

.lkt-page-editor-block-menu-tooltip {
    --lkt-tooltip-width: 500px;
    --lkt-tooltip-text-align: left;
}

.lkt-page-editor-add-menu {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.lkt-page-editor-block-header-container {
    width: 100%;
}

.lkt-page-editor-block-header {
    background: var(--lkt-pagetor--block-header--bg);
    padding: var(--lkt-pagetor--block-header--padding);
    border-width: var(--lkt-pagetor--block-header--border-color);
    border-style: var(--lkt-pagetor--block-header--border-style);
    border-color: var(--lkt-pagetor--block-header--border-color);
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.lkt-page-editor-block-header-container + .lkt-container-editor-canvas {
    border-style: var(--lkt-pagetor--block-header--border-style);
    border-color: var(--lkt-pagetor--block-header--border-color);
    border-bottom-width: var(--lkt-pagetor--block-header--border-color);
    border-left-width: var(--lkt-pagetor--block-header--border-color);
    border-right-width: var(--lkt-pagetor--block-header--border-color);
    border-top-width: 0;
    padding: 15px;
    width: 100%;
}

.lkt-page-editor-block {
    display: flex;
    flex-direction: row;
    /*gap: 15px;*/
    /*width: 100%;*/
}

.lkt-page-editor-block-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.lkt-page-editor-add-menu-title {
    text-align: left;
    font-weight: 600;
    margin-bottom: 15px;
}

.lkt-page-editor-add-menu-title:not(:first-child) {
    margin-top: 15px;
}

.lkt-page-editor .lkt-tooltip-content {
    width: 100%;
}

.lkt-editor-block-grid {
    grid-gap: 15px;
    align-items: stretch;
    display: grid;
    grid-template-columns: 1fr;
    padding: 15px;
}
.lkt-editor-block-grid.no-padding {
    padding: 0;
}


.lkt-text-editor.is-h1 {
    font-size: 32px;
    font-weight: 700;
}

.lkt-text-editor.is-h2 {
    font-size: 28px;
    font-weight: 600;
}

.lkt-text-editor.is-h3 {
    font-size: 24px;
    font-weight: 600;
}

.lkt-text-editor.is-text {
    font-size: 16px;
}

[contenteditable]:empty:before {
    content: attr(placeholder);
    color: #949494;
}

[contenteditable] {
    -webkit-tap-highlight-color: transparent;
}

[contenteditable]:focus {
    outline: 0px solid transparent;
}

.lkt-container-editor-canvas {
    width: 100%;
}

.lkt-page-editor-canvas {
    width: 100%;
    overflow: auto;
}

.drag-indicator {
    --lkt-btn-bg: transparent;
    --lkt-btn-bg-hover: #dadada;
    --lkt-btn-border-color: transparent;
    --lkt-btn-border-color-hover: #dadada;
    --lkt-btn-font-size: 12px;
    --lkt-btn-font-weight: 400;
    --lkt-btn-line-height: 1;
}

.lkt-page-editor-block-buttons {
    display: inline-flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 8px;
}

.lkt-page-editor .block-menu-actions {
    border-right: 1px solid #dadada;
    padding-right: 15px;
    min-width: 130px;
}

.lkt-page-editor .pagetor-icon-ellipsis-vert {
    font-size: 1.3em;
}

.is-i18n-mode .text-editor-field {
    display: none !important;
}

.lkt-text-editor-content.text-editor-field b {
    font-weight: 700;
}

@media (min-width: 768px) {
    .lkt-editor-block-grid {
        grid-template-columns: repeat(auto-fill, minmax(min(100%, 200px), 1fr));
    }
}